body {
    background: rgb(199, 199, 199);
}
span {
    padding: 10px;
    width: 100%;
}
.modal-content{
    max-width: 500px;
}

.todo{
    min-width: 450px !important;
}

.tarefaConcluida{
    text-decoration: line-through;
    text-decoration-style: double;
    border-color: darkgreen;
}
span p {
    display: none;
}
.tarefaConcluida p{
    position: absolute;
    transform: rotate(-45deg);
    font-weight: bold;
    color: darkgreen;
    font-size: smaller;
    display: block !important;
}